<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="bloks/header :: header"></header>
<div class="container mt-5">
    <h1>Blog</h1>
    <!-- Here we create a loop to display the posts
    Go through all the posts that came from the database
    and display the title of the post, the announcement of the post.
    and we have a link to detailed information
    -->
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <h2 th:text="${el.title}"></h2>
        <p th:text="${el.anons}"></p>
        <a th:href="@{/blog/{id}(id=${el.id})}" class="btn btn-warning">Detailed</a>
    </div>
</div>
</body>
</html>
