<!--template-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <!-- here we are telling that we are using thymeleaf -->
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="bloks/header :: header"></header>

<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Hi! I'm Tasia, nice to see you here</h1>
        <p class="lead my-3">Now you are on the pages of one of my projects.
            Here I write posts about living in immigration, studying applied computer science, and interesting things that happen in my life.
            You can read the posts by going to the Blog page.</p>
        <p class="lead mb-0"><p class="text-body-emphasis fw-bold">I hope my blog will be useful to you :)</p></p>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Wroclaw</strong>
                <h3 class="mb-0">A city from a book that you can get to in reality</h3>
                <div class="mb-1 text-body-secondary">My second home</div>
                <p class="card-text mb-auto">A city like something out of the pages of Cornelia Funke's Inkworld trilogy,
                    it was exactly how I imagined Ombra to be.
                    The market square with fire jugglers, medieval castles and the river flowing through the city
                    make me think I've read myself into a book.</p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/images/Wroclaw.jpg" width="200" height="250" alt="Wroclaw"/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Brest</strong>
                <h3 class="mb-0">A city of big dreams </h3>
                <div class="mb-1 text-body-secondary">Home</div>
                <p class="mb-auto">A city with centuries of history, a fortress, a national park nearby and a huge soul.
                    A city of beautiful people, starts and memories.
                    Every corner of it is a sweet reminder of big dreams
                    and good days that flew by so quickly. </p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/images/Brest.jpg" width="200" height="250" alt="Wroclaw"/>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Let's talk about important things
    </h3>
    <article class="blog-post">
        <h2>  How to be a dog owner in immigration</h2>
        <p class="blog-post-meta">Tell me I'm not the only one, please </p>
        <p>In September 2023, I left to study in another country and my family dog stayed at home in Brest.
            At first, during our conversations with him on the speakerphone, he reacted actively to my voice,
            sometimes he even ran around the flat looking for me. As time went on, he became weaker and weaker in his reactions,
            and now he doesn't even turn a deaf ear. When I arrive, it takes him a couple of days to accept the fact that
            I have arrived and that I can be taken seriously. </p>
        <p class="blog-post-meta"> He has a right to be offended, but it's still hearts 😔</p>
        <hr>
        <div class="mb-1 text-body-secondary"> * I've always wanted to do a compilation of my favourite books so why not *</div>
        <h2>The best books in this world</h2>
        <ul>
            <li>J.k.Rowling "Harry Potter"</li> <p>Forever in my heart, especially the 5th book. If you don't like thees books, I don't know gays, you are muglles. Just 10/10 </p>
            <li>Cornelia Funke "Inkworld Trilogy"</li> <p>If you like fantasy, books, castles, magical animals this trilogy is 100% for you. You've never read anything like it. Just 10/10</p>
            <li>Stephen Hawking "The theory of everything"</li> <p> I have no worlds, for me this book was extremely interesting. I'm madly in love with astrophysics, so I can recommend it to similarly amateur astrophysicists. Also I can say that it is quite a difficult book if you start reading it without some knowledge of physics. Just 10.10 </p>
        </ul>
        <p>And this is an ordered list:</p>
        <ol>
            <li>Hurry Potter</li>
            <li>The theory of everything</li>
            <li>Inkworld theory</li>
        </ol>
        <hr>
    </article>
</div>
<footer th:insert="bloks/footer :: footer"></footer>
</body>
</html>