<!--fragment of code which I will use in all pages -->
<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <!-- <img src="/resources/images/MyLogo.png" alt="My Logo" width="40" height="32" class="me-2">-->
        <span class="fs-4">Tasya</span>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/aboutMe">About me</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/Blog">Blog</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/BlogAdd">Add Record</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Projects</a>
        <a class="py-2 link-body-emphasis text-decoration-none" href="/">Main</a>
    </nav>
    </div>
</div>